body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.event-main {
    margin-top: 15px;
}

.event-item {
    padding: 5px;
}
.sub-field{
    margin-top:5px;
    margin-left:15px;
    background-color:antiquewhite;
}